.personalInfoWrapper {
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.personalInfoWrapper > div {
  max-width: 825px;
  padding: 0 15px 0 15px;
}

.personalInfoWrapper div h3:nth-child(1) {
  color: #1da1f2;
  font-size: 42px;
  padding-bottom: 10px;
}

.personalInfoWrapper div h3:nth-child(2) {
  padding: 10px 0 10px 0;
  font-size: 24px;
}

.personalImage {
  height: 250px;
  padding: 0 15px 0 15px;
}

.skillsList {
  list-style: none;
  display: grid;
  grid-template-columns: 150px 150px;
}

.name {
  font-weight: 700;
  font-size: 18px;
}

.description {
  font-size: 16px;
  padding-top: 10px;
  line-height: 28px;
}
