.headerBackground {
  margin: 0;
  /* width: 100%; */
  height: 100vh;
  background-image: url(../../assets/img/headerWrapper.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headerWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  /* width: 100%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerWrapper p:nth-child(1) {
  color: #fff;
  font-size: 40px;
}

.headerWrapper p:nth-child(2) {
  color: #fff;
  font-size: 35px;
}

@media (min-width: 768px) {
  .headerWrapper p:nth-child(1) {
    font-size: 80px;
  }

  .headerWrapper p:nth-child(2) {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .headerWrapper p:nth-child(1) {
    font-size: 100px;
  }

  .headerWrapper p:nth-child(2) {
    font-size: 80px;
  }
}
