.footerWrapper {
  background-color: #1da1f2;
  margin-top: 150px;
}

.footerWrapper div {
  padding-left: 10px;
}

.footerWrapper div ul:nth-child(1) {
  color: #fff;
  font-size: 19px;
}

.footerWrapper div ul:nth-child(2) {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}

.footerWrapper h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 42px;
  color: #fff;
  text-align: center;
}

.footerWrapper ul {
  list-style: none;
}

.footerWrapper ul li {
  padding-bottom: 10px;
}

.socialLink {
  width: 30px;
  height: 30px;
  fill: #fff;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
